# =========================
# PYTHON
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# VENV
# =========================
venv/
.venv/

# =========================
# IDE / PyCharm
# =========================
.idea/
*.iml

# =========================
# ENV / SECRETS
# =========================
.env
*.env

# =========================
# OS TRASH
# =========================
.DS_Store
Thumbs.db

# =========================
# DOCKER
# =========================
docker-compose.override.yml
*.log

# =========================
# MODEL FILES (если хочешь исключить)
# =========================
# app/model.joblib

# =========================
# BUILD / DIST
# =========================
dist/
build/
*.egg-info/

mlruns/
*.png
*.txt